# Go binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Project specific
*.png
social-card-v*
social-forge

# Environment variables
.env
.env.local

# Docker
#.dockerignore

# IDEs
.vscode/
.idea/
.DS_Store
